html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: "Montserrat", sans-serif;
    min-width: 320px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}
h1,
h2,
h3,
h4 {
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
}
button {
    padding: 0;
    border: 0;
}
input,
textarea {
    border-radius: 0;
    box-shadow: none;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-wrapper__burger--cont.burgerActive {
    .header-wrapper__burger--cont_el:nth-child(1) {
        width: 0;
    }
    .header-wrapper__burger--cont_el:nth-child(2) {
        transform: rotate(45deg);
    }
    .header-wrapper__burger--cont_el:nth-child(3) {
        transform: rotate(-45deg);
    }
    .header-wrapper__burger--cont_el:nth-child(4) {
        width: 0;
    }
}

.header-wrapper__menu.menuActive {
    transform: translateX(0);
}
