@media screen and (max-width: 1199px) {
    .container {
        width: 100%;
    }
    .header-wrapper__menu {
        // display: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        transform: translateX(100%);
        transition: transform 0.35s ease-in-out;
        width: 100%;
        height: 100vh;
        background-color: $main;
        &--list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &_el{
                margin: 10px 0;
                font-size: 24px;
                &:last-child{
                    padding: 10px;
                }
            }
        }
    }
    .header-wrapper__burger {
        display: block;
    }
}
